
.header__component {
    background-color: #0074D9 !important;

    .header__component-icon {
      font-size: 1.4rem;
      color: #ffffff !important;
    }

    .profile-icon {
        margin-left: 5px !important;
    }

    .search-input {
      input {
        width: 280px;
      } 
    }
}